<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tipCount" value="4"/>
    <add key="pcrTipCount" value="2"/>
    <add key="pcrTipVolumeUL" value="200"/>
    <add key="pcrLiquidClass" value="pcrLiquidClass"/>
    <add key="sampleLiquidClass" value="sampleLiquidClass"/>
  </appSettings>
</configuration>